<div class="page-container">
  <h2>
    San Francisco Neighborhoods - Pavement Quality and Housing Prices
  </h2>
  <div id="streets-legend"></div>
  <div id="map-viz"></div>
  <div id="viz-controls"></div>
  <div id="map-controls"></div>
</div>
