<div class="page-container">
  <h1>San Francisco Neighborhoods - Pavement Quality and Housing Prices</h1>
  <div id="map-wrapper">
    <div id="map-viz"></div>
    <div id="streets-legend"></div>
    <div id="housing-prices-legend"></div>
    <div id="map-info"></div>
  </div>
  <div id="viz-controls"></div>
  <div class="attribution">
    Inspired by <a href="https://studio.stamen.com/open/polymaps-org/ex/streets.html" target="blank">Stamen Studios</a> and <a href="http://www.trulia.com/trends/vis/pricerange-sf/" target="blank">Trulia</a>
  </div>
</div>