<h3>Housing price ranges</h3>
<div class="percentile-sliders">
{{#each percentiles}}
  <p>{{percentile}}th percentile</p>
  <div class="percentile-slider" data-percentile="{{percentile}}"></div>
{{/each}}
</div>