// Colors
@halfWhite: rgba(255,255,255,0.5);

html {
  height: 100%;
  body {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 90%;
  }
}

.page-container {
  height: 100%;

  #map-wrapper {
    float: left;
    height: 100%;
    min-width: 640px;
    position: relative;
    width: 50%;
  }

  #map-viz {
    height: ~"calc(100% - 30px)";

    .neighborhood {
      fill-opacity: .9;
      stroke: #fff;
      stroke-width: 1.5px;
      &:hover {
        fill: #FFE87C;
        fill-opacity: .5;
      }
    }

    .streets {
      pointer-events: none;
      .street {
        fill: none;
        stroke-width: 3px;
      }
    }
  }

  #streets-legend {
    background-color: @halfWhite;
    left: 100px;
    margin: 0;
    position: absolute;
    top: 0;
    width: 640px;

    ul {
      list-style-type: none;
      margin: 10px 0;
      padding: 0 10px;
    }
    li {
      display: inline-block;
      height: 10px;
      &.legend-color {
        width: 14%;
      }
    }
  }

  #housing-prices-legend {
    left: 0;
    margin: 0;
    position: absolute;
    top: 100px;
    width: 98px;

    p {
      background-color: @halfWhite;
      margin: 0;
      padding: 2px 0 2px 10px;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 2px;
    }
    li {
      display: inline-block;
      height: 20px;
      &.legend-color {
        padding: 4px;
        width: 90px;
      }
      &.light-text {
        color: rgba(255,255,255,0.8);
      }
    }
  }


  #map-info {
    bottom: 30px;
    left: 0px;
    position: absolute;
    width: 700px;

    dl {
      background-color: @halfWhite;
      margin: 0;
      overflow: hidden;
      padding: 10px 0 10px 20px;

      dt {
        float: left;
        margin: 0;
        width: 30%;
      }

      dd {
        float: left;
        margin: 0;
        width: 70%;
      }
    }
  }

  #viz-controls {
    float: left;
    width: 40%;
    h3 {
      padding-left: 45px;
    }
    .percentile-sliders {
      margin: 10px 20px 0 70px;
      .percentile-slider {
        margin: 30px 0;
      }
    }
  }

  .attribution {
    clear: left;
  }
}
